DARK_PRIMARY_COLOR = #1976D2
PRIMARY_COLOR = #2196F3
ACCENT_COLOR = #FF5252
TEXT_COLOR = #FFFFFF
SECUNDARY_TEXT = #BBDEFB

body
  font-family: 'Open Sans', sans-serif

a
  color ACCENT_COLOR
  &:link
  &:visited
  &:hover
  &:active
    color ACCENT_COLOR

.container
  margin 0 auto
  max-width 1280px
  width 90%

.elevation-1
  box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)

.elevation-2
  box-shadow 0 5px 7px 0 rgba(0, 0, 0, 0.16), 0 5px 12px 0 rgba(0, 0, 0, 0.12)

.center
  text-align center

.text
  color rgba(0,0,0,.8)
  font-size 1.2em
  line-height 1.5em
  text-align left

.divider
  border 0
  height 0
  margin 2.5em 0 2.5em 0
  border-top 1px solid rgba(0, 0, 0, 0.1)
  border-bottom 1px solid rgba(255, 255, 255, 0.3)

/* Header */

header
  border 1px solid transparent
  background-color: PRIMARY_COLOR
  color TEXT_COLOR

.avatar
  width 200px
  border-radius 50%

.description
  margin-top -10px
  color: SECUNDARY_TEXT

/* projects */

.screenshot
    height 380px

.project
  display inline-block
  margin-bottom 10px
  width 95%
  vertical-align top
  p
    color rgba(0,0,0,.8)
    font-size 1em
    line-height 1.5em
    text-align center

/* confenrencies */

.chat
  display inline-block
  width 90%
  margin-bottom 2em
  vertical-align top

/* skills */
.skill
  display inline-block
  width 90%
  margin-top 5px
  vertical-align top
  ul
    text-align: left
    li

/* studies */

.list-studies
  padding-left 0
  li
    list-style-type: none
    margin-bottom 20px

/* footer */
footer
  background-color: DARK_PRIMARY_COLOR
  color TEXT_COLOR
  padding-top 1em

.footer-copyright
  margin-top: 15px
  padding 10px
  background-color: rgba(0, 0, 0, 0.2);

.social
  background-color: transparent
  i
    margin 0 0 15px 15px
    font-size: 4em !important
    transition all 0.2s ease-out
    background transparent
    opacity 0.5
    color #fff
    &:hover
      opacity 1
      color TEXT_COLOR

/* button fixed */

.fixed-action-btn
  position fixed
  right 23px
  bottom 23px
  margin-bottom 0
  text-align center
  z-index 998
  a
    background-color ACCENT_COLOR
    border-radius 50%
    width 50px
    height 50px
    display inline-block
    vertical-align middle
    i
      line-height 48px
      font-size 25px
      color TEXT_COLOR

@media screen and (min-width: 993px)
  .container
    width 70%

  .project
    width 30%
    margin 8px

  .chat
    width 30%
    margin: 10px

@media screen and (min-width: 601px)
  .container
    width 85%

  .skill
    width 30%
